<template>
    <div>
        <markets></markets>
    </div>
</template>


<script>
import markets from './markets.vue'

export default {
    data() {
        return {
            
        }
    },
    components: {
        markets
    },
    mounted() {
        
    },
    beforeRouteEnter (to, from, next) {

        next()
    },
    beforeDestroy: function() {
        
    }
}
</script>