<template>
<div>
    <div class="row">
        <div class="col-sm">
            <h4>Live-Data ({{ timeFrame }})</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Percentage change:</br>
            <input type="text" v-on:keyup="timeFrameChanged()"
                v-model="selectedTimeFrame[timeFrame].percChange" class="filter" /> %
        </div>
        <div class="col-sm-6">
            Minimum volume:</br>
            <input type="text" v-on:keyup="timeFrameChanged()"
                v-model="selectedTimeFrame[timeFrame].minVol" class="filter"/> BTC
        </div>
    </div>
</div>
</template>

<script>
import settings from '../store/settings'

export default {
    props: ['timeFrame'],
    data() {
        return {
            
        }
    },
    computed: {
        selectedTimeFrame() {
            return settings.getters.selectedTimeFrame;
        }
    },
    methods: {
        timeFrameChanged() {
            settings.dispatch('updateTimeFrame');
        }
    },
}
</script>
<style>
.filter {
    width: 3rem;
    padding: 0 3px;
}
</style>