<template>
<div>
    <div class="row markets-list">
        <div v-for="(market, index) in markets" class="col-sm">
            <div class="market-item">
                <input :checked="isChecked(market)" class="market-checkbox" :id="market.name" type="checkbox" v-on:click="marketCheckboxClick()">
                <img :src="market.logo">
            </div>
            <div class="latest-update">
                {{ market.updated_at | moment("hh:mm:ss")}}
            </div>
        </div>
    </div>
    
    <div class="row base-currencies">
        <div v-for="(currency, index) in currencies" class="col-sm">
            <input :checked="isCheckedCurrency(currency)" class="currency-checkbox"
                :id="currency.id" type="checkbox" v-on:click="currencyCheckboxClick()">
                {{currency.symbol}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <b-tabs>
                <b-tab title="5M" active>
                    <div class="row">
                        <div class="col-sm-6">
                            <live-data timeFrame="5M"></live-data>
                        </div>
                        <div class="col-sm-6">
                            <recent-data timeFrame="5M"></recent-data>
                        </div>
                    </div>
                </b-tab>
                <b-tab title="15M">
                    <div class="row">
                        <div class="col-sm-6">
                            <live-data timeFrame="15M"></live-data>
                        </div>
                        <div class="col-sm-6">
                            <recent-data timeFrame="15M"></recent-data>
                        </div>
                    </div>
                </b-tab>
                <b-tab title="30M">
                    <div class="row">
                        <div class="col-sm-6">
                            <live-data timeFrame="30M"></live-data>
                        </div>
                        <div class="col-sm-6">
                            <recent-data timeFrame="30M"></recent-data>
                        </div>
                    </div>
                </b-tab>
                <b-tab title="1H">
                    <div class="row">
                        <div class="col-sm-6">
                            <live-data timeFrame="1H"></live-data>
                        </div>
                        <div class="col-sm-6">
                            <recent-data timeFrame="1H"></recent-data>
                        </div>
                    </div>
                </b-tab>
                <b-tab title="4H">
                    <div class="row">
                        <div class="col-sm-6">
                            <live-data timeFrame="4H"></live-data>
                        </div>
                        <div class="col-sm-6">
                            <recent-data timeFrame="4H"></recent-data>
                        </div>
                    </div>
                </b-tab>
                <b-tab title="24H">
                    <div class="row">
                        <div class="col-sm-6">
                            <live-data timeFrame="24H"></live-data>
                        </div>
                        <div class="col-sm-6">
                            <recent-data timeFrame="24H"></recent-data>
                        </div>
                    </div>
                </b-tab>
            </b-tabs>
        </div>
    </div>
</div>

</template>

<script>
import Vue from 'vue'
import liveData from './liveData.vue'
import recentData from './recentData.vue'
import markets from '../store/markets'
import settings from '../store/settings'

export default {
    data() {
        return {

        }
    },
    components: {
        liveData,
        recentData
    },
    computed: {
        markets() {
            return markets.getters.markets;
        },
        currencies() {
            return markets.getters.currencies;
        },
        checkedMarkets() {
            return settings.getters.checkedMarkets;
        },
        checkedCurrencies() {
            return settings.getters.checkedCurrencies;
        }
    },
    methods: {
        marketCheckboxClick() {
            var markets = [];
            jQuery('.market-checkbox:checked').each(function(i, c) {
                markets.push(jQuery(c).attr('id'))
            });
            settings.dispatch('updateMarkets', markets );
        },
        currencyCheckboxClick() {
            var currencies = [];
            jQuery('.currency-checkbox:checked').each(function(i, c) {
                currencies.push(jQuery(c).attr('id'))
            });
            settings.dispatch('updateCurrencies', currencies );
        },
        isChecked(market) {
            return (this.checkedMarkets.indexOf(market.name) >= 0 )
                ? true : false;
        },
        isCheckedCurrency(currency) {
            var currencies = this.checkedCurrencies;
            
            for (var key in currencies) {
                if(currency.id == currencies[key]) {
                    return true;
                }
            }
        },
    },
    mounted() {
        markets.dispatch("fetchAll");
        settings.dispatch("fetchAll");
    },
    beforeRouteEnter (to, from, next) {
        next()
    }
}
</script>


<style>
    .markets-list {
        margin-top: 20px;
    }
    .market-item {
        height: 50px;
        min-width: 150px;
        text-align: center;
    }
    .latest-update {
        margin-bottom: 10px;
        text-align: center;
        font-size: 11px;
    }
    img {
        max-width: 120px;
        max-height: 100%;
    }


    .nav-tabs {
        margin-top: 25px;
        border-bottom: 1px solid #000000;
    }
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-link:hover,
    .nav-tabs .nav-item.show .nav-link {
        background-color: #2b2b2b;
        border-color: #000000 #000000 #000000;
    }
    .nav-tabs .nav-item .nav-link {
        color: #ececec;
    }
    .nav-tabs .nav-item {
        margin-right: 5px;
    }
    .nav-tabs .nav-link.disabled {
        color: #9a9898;;
    }
    .nav-tabs .nav-link.disabled:hover {
        background-color: #5d5d5d;
    }

    .tab-content {
        min-height: 300px;
        padding: 10px 10px 15px;
        border: 1px solid #000000;
        border-top: 0px;
    }
</style>