<template>
<div class="row">
    <div class="col-sm">
        <h4>Recent ({{ timeFrame }})</h4>
    </div>
</div>
</template>

<script>

export default {
    props: ['timeFrame'],
    data() {
        return {
            
        }
    }
}
</script>
<style>

</style>
