<template>
<div>
    <navigation></navigation>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <router-view></router-view>
            </div>
        </div>
    </div>
</div>
</template>


<script>
import navigation from './navigation.vue'

export default {
    data() {
        return {
            
        }
    },
    components: {
        navigation
    }
}
</script>
