<template>
<nav class="navbar navbar-dark bg-dark">
    <router-link :to="{ name: 'home' }"  class="navbar-brand">
        Crypto Scanner
    </router-link>

    <ul class="navbar-nav mr-right">
        <li v-if="$auth.check()" class="nav-item">
            <a href="#" @click.prevent="$auth.logout()" class="router-link-active">
                <span class="hidden visible-xs">Logout</span> 
                <span title="Logout" class="visible hidden-xs fa-lg">
                    <i aria-hidden="true" class="fa fa-sign-out"></i>
                </span>
            </a>
        </li>
    </ul>
</nav>

</template>

<script>

export default {
    data() {
        return {
            
        }
    },
    methods: {
        navClick() {
            $('#app-navbar-collapse').collapse('hide');
        }
    }
}
</script>
