
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Icons
@import "node_modules/font-awesome/css/font-awesome";

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5;
    color: #cfd2da;
    background-color: #5d5d5d;
}